<a href="https://www.kaggle.com/blurred8216/101-pandas-excercise?scriptVersionId=89045682" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# 101 Pandas Excercise for Data Analysis
>101 python pandas exercises are designed to challenge your logical muscle and to help internalize data manipulation with pythonâ€™s favorite package for data analysis. The questions are of 3 levels of difficulties with L1 being the easiest to L3 being the hardest.

[blog_link](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

## 1. How to import pandas and check the version?

In [2]:
import pandas as pd
pd.__version__

'1.3.5'

## 2. How to create a series from a list, numpy array and dict?

```
import numpy as np
mylist = list("abscdefghijklmn")
myarr = np.arrange(26)
mydict = dict(zip(mylist,myarr))
```

In [3]:
#creating a list , numpy array, dict
import numpy as np
mylist = list("abcdefghijklmnopqrstuvwxyz")
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

print("List:\t",mylist)
print("Array(numpy):\t",myarr)
print("Dictionary",mydict)

len(mylist)

List:	 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
Array(numpy):	 [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25]
Dictionary {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

26

In [4]:
series_list = pd.Series(mylist)
series_np = pd.Series(myarr)
series_dict = pd.Series(mydict)

print(series_list,"\n",series_np,"\n",series_dict)

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64
 a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

## 3. How to convert the index of a series into a column of a dataframe?

In [5]:
df = series_dict.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     d  3
4     e  4

In [6]:
type(series_dict)

pandas.core.series.Series

## 4. How to combine many series to forma a dataframe?

In [7]:
df = pd.concat([series_list,series_np],axis = 1,keys = ["alphabets","number"])
df.head()

  alphabets  number
0         a       0
1         b       1
2         c       2
3         d       3
4         e       4

## 5. How to assign name to the series index?

In [8]:
series_list.name = "alphabets"
series_list.head()

0    a
1    b
2    c
3    d
4    e
Name: alphabets, dtype: object

## 6. How to get the items of series A not present in series B?

In [9]:
series1 = pd.Series([1,2,3,4,5])
series2 = pd.Series([4,5,6,7,8])
series1[~series1.isin(series2)]

0    1
1    2
2    3
dtype: int64

In [10]:
series1.isin(series2)

0    False
1    False
2    False
3     True
4     True
dtype: bool

## 7. How to get the items not common to both series A and series B?

In [11]:
a = pd.Series([1, 2, 3, 4, 5])
b = pd.Series([4, 5, 6, 7, 8])

U = pd.Series(np.union1d(a,b))
I = pd.Series(np.intersect1d(a,b))

U[~U.isin(I)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

## 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [12]:
a = pd.Series(np.random.normal(10,5,25))

np.percentile(a, q = [0,25,50,75,100])

array([-1.25706952,  4.97994418,  7.85465508, 11.23890861, 18.17111278])

## 9. How to get frequency counts of unique items of a series?

In [13]:
a = a.apply(lambda x: round(x,0))

In [14]:
print(type(a))
a.value_counts()

<class 'pandas.core.series.Series'>

 5.0     3
 1.0     3
 8.0     3
 11.0    3
 6.0     2
 10.0    2
 18.0    2
 15.0    2
 12.0    1
 4.0     1
 0.0     1
-1.0     1
 9.0     1
dtype: int64

In [15]:
ser = pd.Series(np.take(list('abcdefgh'),np.random.randint(8,size=30)))
ser.value_counts()

d    6
c    5
a    5
g    4
f    3
h    3
e    2
b    2
dtype: int64

## 10. How to keep only top 2 most frequent values as it is and replace everything else as "other"?

In [16]:
ser[~ser.isin(ser.value_counts().index[:2])]="other"
ser

0     other
1     other
2     other
3     other
4     other
5         d
6         c
7     other
8         d
9         d
10    other
11    other
12        d
13        c
14    other
15    other
16        c
17    other
18    other
19        c
20        d
21    other
22    other
23        c
24    other
25    other
26        d
27    other
28    other
29    other
dtype: object

## 11. How to bin a numeric series to 10 groupsof equal size?

In [17]:
ser = pd.Series(np.random.random(20))
print(ser.head())

pd.qcut(ser,q=[i/10 for i in range(0,11)],labels=[str(i)+"th" for i in range(1,11)])

0    0.696422
1    0.940843
2    0.636911
3    0.543905
4    0.162691
dtype: float64

0      8th
1     10th
2      7th
3      5th
4      3th
5      9th
6      4th
7      4th
8      1th
9      2th
10     6th
11     2th
12     7th
13     6th
14     5th
15     3th
16     9th
17    10th
18     1th
19     8th
dtype: category
Categories (10, object): ['1th' < '2th' < '3th' < '4th' ... '7th' < '8th' < '9th' < '10th']

## 12. How to convert a numpy array to a dataframe of given shape?